
@using WebAppSurvey.Helpers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Nombre = ViewBag.Usuario;
}
@{ var areas = ContadorDeRecursos.AreasTotales();
    var categorias = ContadorDeRecursos.CategoriasTotales();
    var encuestas = ContadorDeRecursos.EncuestasTotales();
    var encuestados = ContadorDeRecursos.EncuestadosTotales();
    var enero = ContadorDeRecursos.EncuestasTotalesMes(1);
    var febrero = ContadorDeRecursos.EncuestasTotalesMes(2);
    var marzo = ContadorDeRecursos.EncuestasTotalesMes(3);
    var abril = ContadorDeRecursos.EncuestasTotalesMes(4);
    var mayo = ContadorDeRecursos.EncuestasTotalesMes(5);
    var junio = ContadorDeRecursos.EncuestasTotalesMes(6);
    var julio = ContadorDeRecursos.EncuestasTotalesMes(7);
    var agosto = ContadorDeRecursos.EncuestasTotalesMes(8);
    var setiembre = ContadorDeRecursos.EncuestasTotalesMes(9);
    var octubre = ContadorDeRecursos.EncuestasTotalesMes(10);
    var noviembre = ContadorDeRecursos.EncuestasTotalesMes(11);
    var diciembre = ContadorDeRecursos.EncuestasTotalesMes(12);
    var hombres = ContadorDeRecursos.EncuestadosTotalesSexo("Masculino");
    var mujeres = ContadorDeRecursos.EncuestadosTotalesSexo("Femenino");
}

@if (HttpContext.Current.Session["TipoUsuario"].Equals("Coordinador"))
{
    <div class="row">
        <div class="col-sm-12 col-lg-6 col-xl-3">
            <div class="c-state-card" data-mh="state-cards">
                <div class="c-state-card__icon c-state-card__icon--info">
                    <i class="fa fa-line-chart"></i>
                </div>
                <div class="c-state-card__content">
                    <h5 class="c-state-card__number">
                        @encuestas
                        <span class="c-state-card__status u-bg-green">
                            <i class="fa fa-caret-up"></i>
                        </span>
                    </h5>
                    <p><a href="~/Encuestas/Index" class="c-state-card__meta">Encuestas</a></p>
                </div>
            </div>
        </div><!-- // .col-md-3 -->
        <div class="col-sm-12 col-lg-6 col-xl-3">
            <div class="c-state-card" data-mh="state-cards">
                <div class="c-state-card__icon c-state-card__icon--fancy">
                    <i class="fa fa-pie-chart"></i>
                </div>
                <div class="c-state-card__content">
                    <h5 class="c-state-card__number">
                        @categorias
                        <span class="c-state-card__status u-bg-green">
                            <i class="fa fa-caret-up"></i>
                        </span>
                    </h5>
                    <p><a href="~/Categorias/Index" class="c-state-card__meta">Categorias</a></p>
                </div>
            </div>
        </div><!-- // .col-md-3 -->
        <div class="col-sm-12 col-lg-6 col-xl-3">
            <div class="c-state-card" data-mh="state-cards">
                <div class="c-state-card__icon c-state-card__icon--warning">
                    <i class="fa fa-user"></i>
                </div>
                <div class="c-state-card__content">
                    <h5 class="c-state-card__number">
                        @areas
                        <span class="c-state-card__status u-bg-red">
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </h5>
                    <p><a href="~/Areas/Index" class="c-state-card__meta">Areas</a></p>
                </div>
            </div>
        </div><!-- // .col-md-3 -->
        <div class="col-sm-12 col-lg-6 col-xl-3">
            <div class="c-state-card" data-mh="state-cards">
                <div class="c-state-card__icon c-state-card__icon--success">
                    <i class="fa fa-bar-chart"></i>
                </div>
                <div class="c-state-card__content">
                    <h5 class="c-state-card__number">
                        @encuestados
                        <span class="c-state-card__status u-bg-green">
                            <i class="fa fa-caret-up"></i>
                        </span>
                    </h5>
                    <p><a href="~/Encuestados/Index" class="c-state-card__meta">Encuestados</a></p>
                </div>
            </div>
        </div><!-- // .col-md-3 -->
    </div><!-- // .row -->
    <div class="row">
    <div class="col-xl-8">
        <div class="c-card u-p-medium u-mb-medium">
            <div class="u-flex u-justify-between u-align-items-center">
                <h3 class="c-card__title">Encuestas</h3>
                <span class="u-text-small u-text-uppercase u-text-mute">@DateTime.Now.Year</span>
            </div>
            <canvas id="Grafica" width="200" height="100"></canvas>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="c-card u-p-medium u-mb-medium">
            <div class="u-flex u-justify-between u-align-items-center">
                <h3 class="c-card__title">Encuestados</h3>
                <span class="u-text-small u-text-uppercase u-text-mute">@DateTime.Now.Year</span>
            </div>
            <canvas id="Grafica2" width="100" height="100"></canvas>
        </div>
    </div>
    </div>
}
@if (HttpContext.Current.Session["TipoUsuario"].Equals("Encuestado"))
{
    <div class="row">
        <div class="col-sm-12 col-lg-6 col-xl-6">
            <div class="c-state-card" data-mh="state-cards">
                <div class="c-state-card__icon c-state-card__icon--fancy">
                    <i class="fa fa-pie-chart"></i>
                </div>
                <div class="c-state-card__content">
                    <h5 class="c-state-card__number">
                        Inicio
                        <span class="c-state-card__status u-bg-green">
                            <i class="fa fa-caret-up"></i>
                        </span>
                    </h5>
                    <p><a href="~/Home/Index" class="c-state-card__meta">Inicio</a></p>
                </div>
            </div>
        </div><!-- // .col-md-3 -->
        <div class="col-sm-12 col-lg-6 col-xl-6">
            <div class="c-state-card" data-mh="state-cards">
                <div class="c-state-card__icon c-state-card__icon--success">
                    <i class="fa fa-bar-chart"></i>
                </div>
                <div class="c-state-card__content">
                    <h5 class="c-state-card__number">
                        Encuestas
                        <span class="c-state-card__status u-bg-green">
                            <i class="fa fa-caret-up"></i>
                        </span>
                    </h5>
                    <p><a href="~/Encuestas/Index" class="c-state-card__meta">Encuestas</a></p>
                </div>
            </div>
        </div><!-- // .col-md-3 -->
    </div><!-- // .row -->
    <!-- // .row -->
}
<div class="row">

    <div class="col-xl-4">
        <!-- Cards below rely on utilities (u-) as they are highly customizable -->


    </div>
</div><!-- // .row -->

<div class="c-modal c-modal--large modal fade ocultarDespues2" id="modal32" tabindex="-1" role="dialog" aria-labelledby="modal32" data-backdrop="static">
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="c-modal__content">
            <div class="c-modal__header u-bg-primary">
                <h3 class="c-modal__title">Editar Perfil</h3>
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </span>
            </div>
            <div class="c-modal__body">
                <form class="c-card__body formAjax2" method="post" action="~/Users/Add">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Dni">Dni</label>
                                <input class="c-input" type="text" id="DniUsu" required="required" name="Dni" placeholder="Dni">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Nombres">Nombres</label>
                                <input class="c-input" type="text" id="NombresUsu" required="required" name="Nombres" placeholder="Nombres">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="Apaterno">Apellido Paterno</label>
                                <input class="c-input" type="text" id="ApellidoPaterno" required="required" name="ApellidoPaterno" placeholder="ApellidoPaterno">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="c-field u-mb-small">
                                <label class="c-field__label" for="ApellidoMaterno">Apellido Materno</label>
                                <input class="c-input" type="text" id="ApellidoMaterno" required="required" name="ApellidoMaterno" placeholder="ApellidoMaterno">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="Direccion">Direccion</label>
                            <input class="c-input" type="text" id="DireccionUsu" required="required" name="Direccion" placeholder="Direccion">
                        </div>
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="NombreUsuario">Nombre Usuario</label>
                            <input class="c-input" type="text" id="NombreUsuario" required="required" name="NombreUsuario" placeholder="Usuario">
                        </div>
                        <div class="c-field u-mb-small col-4">
                            <label class="c-field__label" for="TipoUsuario">Tipo de Usuario</label>
                            <select name="TipoUsuario" class="c-input" id="TipoUsu">
                                <!-- Opciones de la lista -->
                                <option value="Coordinador">Coordinador</option>
                                <option value="Encuestado" selected>Encuestado</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="Edad">Edad</label>
                            <input class="c-input" type="text" id="EdadUsu" required="required" name="Edad" placeholder="Edad">
                        </div>
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="Sexo">Sexo</label>
                            <select name="Sexo" class="c-input" id="SexoUsu">
                                <!-- Opciones de la lista -->
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino" selected>Femenino</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="Correo">Correo electrónico</label>
                            <input class="c-input" type="text" id="CorreoUsu" required="required" name="Correo" placeholder="clark@dashboard.com">
                        </div>
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="telefono">Telefono</label>
                            <input class="c-input" type="text" id="Telefono" required="required" name="Telefono" placeholder="Telefono">
                        </div>
                    </div>
                    <div class="row">
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="input2">Contraseña</label>
                            <input class="c-input" type="password" id="ContraseñaUsu" required="required" name="Contraseña" placeholder="*****">
                        </div>
                        <div class="c-field u-mb-small col-6">
                            <label class="c-field__label" for="input2">Repetir Contraseña</label>
                            <input class="c-input" type="password" id="re-ContraseñaUsu" required="required" EqualTo="#ContraseñaUsu" placeholder="*****">
                        </div>
                        <input type="hidden" name="Id" id="IdUsu" />
                    </div>
                    <div class="u-text-right">
                        <button class="c-btn c-btn--info c-btn btnAjax2" type="submit">
                            Guardar
                            <img src="~/Content/img/load.gif" class="loadingAjax2" style="display:none" />
                        </button>
                    </div>
                </form>

            </div>
        </div><!-- // .c-modal__content -->
    </div><!-- // .c-modal__dialog -->
</div>


@section scripts{
    <script src='~/Content/js/utils.js'></script>
    <script src='~/Content/js/Chart.min.js'></script>

    <script>

        let canvas = document.getElementById("Grafica").getContext("2d");

        var grafica = new Chart(canvas, {
            type: "line",
            data: {
                labels: ["Enero", "Febrero", "Marzo","Abril","Mayo","Junio","Julio","Agosto","Setiembre","Octubre","Noviembre","Diciembre"],
                datasets: [
                    {
                        label: "Encuestas",
                        backgroundColor: window.chartColors.white,
                        borderColor: window.chartColors.red,
                        data:[@enero,@febrero,@marzo,@abril,@mayo,@junio,@julio,@agosto,@setiembre,@octubre,@noviembre,@diciembre],
                    }
                ]
            }
        })


        let canvas2 = document.getElementById("Grafica2").getContext("2d");

        var grafica2 = new Chart(canvas2, {
            type: "pie",
            data: {
                labels: ["Hombres", "Mujeres"],
                datasets: [
                    {
                        label: "Encuestados",
                        backgroundColor: ['rgb(255, 198, 142)', 'rgb(255, 255, 0)',], 
                        data:[@hombres,@mujeres],
                    }
                ]
            }
        })
    </script>

}